# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Backup files
*.bak

# If you are using PyCharm
.idea/

# AWS User-specific
.aws/

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files
static/

# Jupyter Notebook
.ipynb_checkpoints

# Sublime Text
*.sublime-*

# Visual Studio Code
.vscode/
